<!-- REMEMBER THAT THIS IS OPTIONAL -->

{% extends "base.html" %} {% block title %} Create Recipe - Scrumptious Recipes
{% endblock title %} {% block content %}
<header>
  <nav>
    <a></a>
  </nav>
</header>
<main>
  <h1>Create Recipe</h1>
  <form method="post" class="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="button-color">Create</button>
  </form>
  <a href="{% url "recipe_list" %}"><button class="button-color cancel-button">Cancel</button></a>
</main>
{% endblock content %}

<!-- REMEMBER THAT THIS IS OPTIONAL -->
