{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href={% static "css/recipes.css" %}/>
  </head>
  <body>
    <header>
      <nav class="nav-grid">
        <button class="nav-bar">
          <a href="{% url "recipe_list" %}">Main Page</a>
        </button>
        <button class="nav-bar-2">
          <a href="{% url "edit_recipe" recipe_object.id %}">Edit Recipe</a>
        </button>
      </nav>
    </header>
    <div class="division"></div>
    <main>
      <h1>{{ recipe_object.title }}</h1>
      <div class="recipe-box">
        <img class="taco-pic" src="{{ recipe_object.picture }}" />
        <br />
        <div class="star">4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
      </div>
      <br />
      <h2>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Portions</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe_object.ingredient.all %}
          <tr>
            <td>{{ ingredient.food_item }}</td>
            <td>{{ ingredient.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <h2>Steps</h2>
      <ol class="ol-step">
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
      </ol>
    </main>
    <footer>Made with love by Scumptious Recipes</footer>
  </body>
</html>
