{% extends "base.html" %} {% block title %} Edit Recipe - Scrumptious a Recipes
{% endblock title %} {% block content %}
<header>
  <nav>
    <a></a>
  </nav>
</header>
<main>
  <h1>Edit {{ recipe_object.title }} Recipe</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="save-button">Save</button>
  </form>
  <a href="{% url "show_recipe" recipe_object.id %}"><button class="button-color">Cancel</button></a>
</main>
{% endblock content %}
