{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href={% static "css/recipes.css" %}/>
  </head>
  <body>
    <header>
      <nav class="nav-grid">
        <button class="nav-bar">
          <a href="{% url "recipe_list" %}">Main Page</a>
        </button>

        {% if user.is_authenticated %}
          <p class="login-status">
            Logged in as {{ user.first_name }}
          </p>
          <button class="nav-bar-2">
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
          </button>
          <button class="nav-bar-2">
            <a href="{% url 'my_recipe_list' %}">My Recipes</a>
          </button>
          <button class="nav-bar-2">
            <a href="{% url 'user_logout' %}">Logout</a>
          </button>
        {% else %}
          <button class="nav-bar-2">
            <a href="{% url 'user_login' %}">Login</a>
          </button>
          <button class="nav-bar-2">
            <a href="{% url 'signup' %}">Sign up</a>
          </button>
        {% endif %}

      </nav>
    </header>
    <div class="division"></div>
    <main>
      <h1>Scrumptious Recipes</h1>
      <h2>Menus</h2>
      <div class="grid-box">
        {% for recipe in recipe_list %}
        <div class="recipe-box">
          <button class="vege-button">
            <a class="bigger" href="{% url "show_recipe" recipe.id %}"
              >{{ recipe.title }}</a
            >
          </button>
          <br />
          <a class="bigger" href="{% url "show_recipe" recipe.id %}">
            <img
              class="taco-pic"
              src="{{ recipe.picture }}"
              alt="Picture of Taco"
            />
          </a>
          <p class="date">{{ recipe.created_on|date:"F Y" }}</p>
          <div class="star">4.3 stars</div>
        </div>
        {% empty %}
        <p>There are no recipes available</p>
        {% endfor %}
      </div>
      <br />
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
  </body>
</html>
