{% extends "base.html" %}

{% block title %}
Login! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <button class="nav-bar-2">
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </button>
    </nav>
</header>
<main>
    <h1>Login!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-color">Submit</button>
    </form>
</main>
{% endblock content %}
