@import url(https://fonts.google.com/specimen/Roboto);

:root {
  --pink-1: #FACDF3;
  --blue-1: #8C9BDB;
  --green-1: #76F0BC;
  --pink-2: rgb(255, 148, 166);
  --blue-2: #c8d0f6;
}

html {
  background: linear-gradient(to right, #ffdbf9, rgb(253, 201, 210), rgb(249, 158, 173));
}

h1, h2 {
  text-align: center;
}

h1 {
  border: solid 1px white;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70vw;
  justify-content: center;
  background: var(--pink-2);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 7px;
  color: white;
}

h2 {
  margin-bottom: 20px;
  color: var(--pink-2);
  text-shadow: 3px 3px 3px white;
}


button {
  border: 1px solid white;
  margin-top: 10px;
  background-color: var(--pink-2);
  border-radius: 6px;
  color: black;
  cursor: pointer;
}

.bigger {
  font-size: 15px;
  color: rgb(0, 0, 0);
  width: 155px;
}

.vege-button {
  margin-bottom: 5px;
}

.division {
  border: 1px solid var(--pink-2);
  margin-top: 20px;
}

table {
  width: 30%;
  height: auto;
  margin: auto;
}

table, td {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

thead, tfoot {
  background-color: var(--pink-2);
  color: #fff;
}

footer {
  margin: auto;
  text-align: center;
  border: 1px solid white;
  color: white;
  display: block;
  width: 70vw;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--pink-2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 1px 1px 1px white;
}

a:hover {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: var(--pink-1);
}

.taco-pic {
  height: 350px;
  width: auto;
  margin-top: 5px;
  border-radius: 25px;
  box-shadow: 2px 2px 1px var(--pink-2);
  user-select: none;
}


.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 50px;
  place-items: center;
  margin-bottom: 50px;
}

.ol-step {
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  list-style-position: inside;
  padding: 0;
}

.star {
  color: black;
  font-size: 15px;
  font-style: italic;
}

.recipe-box {
  text-align: center;
  justify-content: center;
}

.date {
  margin: 2px;
}

.save-button {
  color: white;
}

.nav-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav-bar {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 5px;
}

.nav-bar-2 {
  grid-column-start: 10;
  grid-column-end: 10;
  padding: 5px;
}

.button-color {
  color: white;
}

.login-status {
  color: white;
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 10px;
  border: 1px solid white;
  margin-top: 10px;
  background-color: var(--pink-2);
  border-radius: 6px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
